/*ESTILOS DE CARRITO DE COMPRAS*/
#tituloCarrito h1{
    font-weight: 800;
    text-align: center;
    margin-left: 5px;
}

.productoListaCarrito{
    border-radius: 12px;
    opacity: 0.7;
    background-color: #a2cbe9;
}
.productoListaCarrito:hover{
    opacity: 1;
    outline: 2px solid #004170;
}

.productoListaCarrito h5{
    margin-top: 10px;
    font-size: 20px;
}

.precioAntes{
    color: grey;
    font-size: 15px;
    text-decoration: line-through;
}

.precioAhora{
    font-size: 19px;
}

/*ESTILO MODAL PROMOCIONAL*/

.publicidad{
    background-color: #004170;
    color: #ffff;
}


.publicidad h3{
   text-align: center;
   font-weight: 1000;
}

.publicidad p{
    margin-top: 15px;
    color: #ffff;
}

/*Boton carrito*/

#btnCarrito{
    background-color: #004170;
    color: #ffffff;
    opacity: 0.9;
    padding: 5px;
}

#btnCarrito:hover{
    background-color: #004170;
    color: #ffffff;
    opacity: 1;
}